*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

    /* scroolbar */

::-webkit-scrollbar{
    background-color: transparent;
    width: 14px;
}*
::-webkit-scrollbar-thumb{
    background-color: blue;
}
.logo_esgic{
    width: 50%;
    height: 30%;
}
.cont{ display: flex; justify-content: center; padding-top: 40px;}
.text_center{text-align: center;}
.logo{
    width: 60px;
    height: 60px;
    border-radius: 40px;
    animation-name: logold;
    animation-duration: 4s ;
    animation-iteration-count: infinite;
}
.logo_all{
    display: flex; 
    align-items:end;
    padding: 0px 40px;
 }
.text_logo{color: red; font-weight: bold;}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    background-color: white;
    box-shadow:  0 0 10px 0 rgba(0,0,0,0.3);
}
.navbar ul{
    list-style-type: none;
    display: flex;
}
ul li a{
    text-decoration: none;
    padding: 15px;
    color: blue;
    font-weight: bold;
}
ul li a:hover{
    background-color: rgb(0, 68, 255);
    color: red;
    border-radius: 18px;
}
#header_1{
    color: red;
    animation-name: titre_1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    padding-top: 40px;
    font-weight: bold;
    font-size: 300%;
}
.titreig{
    color: blue;
    font-weight: bold;
}

            /* dossier à fournir */


.header_dossier{
    margin: 70px 20px;
    color: white;
    font-weight: bold;
    background-color: blue;
    text-align: center;
    font-size: 300%;
}
.container_dossier{
    display: flex;
    justify-content: space-around;
    margin: 0px 20px;
 
}
.header1_dossier, .header2_dossier{
    color: red;
    font-size: 220%;
    font-weight: bold;
}
.para_dossier{
    font-size: 1.5rem;
    font-weight: bolder;
    padding-bottom: 50%;
    padding-top: 10%;
}



      /* footer */

.content_footer{
    background-color: red;
    padding: 8px;
 }
.footer_ig{
    color: white;
    font-size: 18px;
    font-weight: bold;
}

@keyframes logold {
    50% { transform: scale(1.2);}
}
@keyframes titre_1{
    50% {color: blue;}
    100% {color: red;}
}